body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: lightgray;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: darkcyan;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: grey;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;

}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: black;
    padding: 40px 0px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0px;
}

form label,
form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 25%;
    padding: 15px;
    background-color: rgb(43, 41, 41);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: black;
    transform: rotate(10deg) scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: rgb(27, 27, 27);
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid rgb(27, 27, 27);
    padding: 8px 15px;
}

/* css da home */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    margin: 0 0 1em;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.imagembeneficios {
    width: 30%;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 1em auto ;
}