body {
    background: #cccccc
}

#banner {

    width: 100%;
}

.principal {
    background: white
    padding: 30px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
    background: white;
}

#missao {
    font-size: 20px
}

em strong {
    color: palevioletred
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

h2 {
    text-align: center
}

ul {
    display: inline-block;
    vertical-align: top;
    width: : 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}